
<div class="footer">
    <div class="footer__info">
        <p>
            You are are receiving this email because you signed up for the
            <a href="">Data Visualization with D3.js</a>
            course from QuickBits.
        </p>
        <p>
            You can
            <a href="">unsubscribe by clicking here</a>.
        </p>
    </div>

    <div class="footer__social">

    </div>

    <div class="footer__logo">
        <p>
            <a href="http://quickbits.us"><img src="https://s3.amazonaws.com/quickbits-resources/courses/qb001-hello_d3/images/quickbits-white.png"
                alt="QuickBits" /></a>
        </p>
    </div>
</div>
