.content {
    margin: 0 auto;
    max-width: 768px;
    padding: 1.0em;
}

.header {
    background: $clr-highlight;
    border-bottom: 1px solid $clr-white;
    color: $clr-white;
    padding: 2.0em;
    text-align: center;
}
